<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mb-4">Quem Somos</h1>
      <p class="lead">
        Bem-vindo ao ListaVolei! Somos uma plataforma dedicada a organizar e promover jogos de vôlei amadores em nossa comunidade. 
        Nossa missão é conectar jogadores de todos os níveis, facilitar a organização de partidas e fortalecer os laços através do esporte.
      </p>
      <p>
        Este projeto foi desenvolvido como parte da disciplina de Projeto de Desenvolvimento II, com o objetivo de criar uma aplicação web funcional,
        robusta e escalável, utilizando as tecnologias mais modernas do mercado.
      </p>
    </div>
  </div>
</div>
