<div class="login-page-wrapper">
  <!-- Coluna da Imagem (Esquerda) -->
  <div class="image-side"></div>

  <!-- Coluna do Formulário (Direita) -->
  <div class="form-side">
      <div class="form-container">
        <div class="text-center mb-4">
          <a class="navbar-brand fw-bold fs-2 text-primary" routerLink="/">
            <i class="bi bi-volleyball me-2"></i>ListaVôlei
          </a>
          <h1 class="h3 my-3 fw-normal">Acesse sua conta</h1>
          <p class="text-muted">Use seu e-mail e senha para entrar na plataforma.</p>
        </div>

        <form (ngSubmit)="login()">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="credentials.email" placeholder="nome@exemplo.com" required>
            <label for="email">Endereço de e-mail</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password" placeholder="Senha" required>
            <label for="password">Senha</label>
          </div>

          <div *ngIf="error" class="alert alert-danger" role="alert">
            {{ error }}
          </div>

          <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Entrar</button>

          <div class="text-center mt-4">
            <p class="mb-0 text-muted">Não tem uma conta?</p>
            <a routerLink="/register" class="fw-bold text-decoration-none">Crie uma agora</a>
          </div>
        </form>
      </div>
  </div>
</div>