.login-container {
  height: 100%;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto; 
}

@media (max-width: 991.98px) {
  #form-column {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  }
}

.form-container h1 {
  color: #0d6efd;
  font-weight: 700;
}