/* Ficheiro: src/styles.css */

/* Remove a cor de fundo daqui para a aplicarmos num local mais específico */
html, body {
  height: 100%;
  margin: 0;
}

/* Garante que o componente principal da aplicação se estica para preencher a tela */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}